<header class=" w-full">
    <nav class="bg-white border-gray-200 py-4 dark:bg-gray-900">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
            <a href="#" class="flex items-center">
                <img src="./assets/logo.png" class="h-6 mr-3 sm:h-9" alt="Redshift Logo" />
            </a>
            <div class="flex items-center lg:order-2">

                    Bem-vindo,&#160;<span class="font-medium text-gray-800 dark:text-white">{{user.email}}</span>

                    <a href="#" class=" dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-4 mt-[2px] py-1 lg:py-2 text-redshift-red  dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                        <i class="fas fa-sign-out-alt mr-1"></i>
                    </a>
            </div>
            <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    
                    <li>
                        <a href="/home" class="block py-2 pl-3 pr-4 text-white  rounded lg:bg-transparent lg:text-black lg:p-0 dark:text-white" aria-current="page">Home</a>
                    </li>
                    
                    <li *ngIf="user.companies.length === 0" >
                        <a href="/manage-users" class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0  lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Utilizadores</a>
                    </li>
                    <li *ngIf="user.companies.length === 0" >
                        <a href="/manage-clients" class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0  lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Clientes</a>
                    </li>
                    <li>
                        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-redshift-hover md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Use Cases <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                          </svg></button>
                          <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLargeButton">
                              <li>
                                <a href="/manage-use-cases" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Gerir Use Cases</a>
                              </li>
                              <li>
                                <a *ngIf="user.companies.length === 0"  href="/create-usecase" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Criar Use Case</a>
                              </li>
                            
                            </ul>
                        </div>                    
                    </li>
                    <li>
                        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownRules" class="flex items-center justify-between w-full py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-redshift-hover md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Regras <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                          </svg></button>
                          <div id="dropdownRules" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLargeButton">
                              <li>
                                <a *ngIf="user.companies.length === 0"  href="/create-rule-model" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Criar Modelo de Regra</a>
                              </li>
                              <li>
                                <a  *ngIf="user.companies.length === 0"  href="/manage-rule-models" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Gerir Modelos de Regra</a>
                              </li>
                              <li>
                                <a  *ngIf="user.companies.length !== 0"  href="/read-rule-models" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Listagem de Modelos de Regra</a>
                              </li>
                              <hr class="solid my-1">

                              <li>
                                <a href="/manage-rules" *ngIf="user.companies.length === 0" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Instâncias de Regra</a>
                              </li>

                              <li>
                                <a href="/my-instance-rules" *ngIf="user.companies.length !== 0" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Instâncias de Regra</a>
                              </li>
                            </ul>
                        </div>                             </li>
                   
                      
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
