<!-- 
<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Apri menu" (click)="openMenu()" *ngIf="this.isLogged">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button aria-label="Esci" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="side-container">
  <mat-sidenav #sidenav mode="side" class="side-menu">
  </mat-sidenav>

  <mat-sidenav-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>
-->
<router-outlet></router-outlet>
