<app-header  ></app-header>


<div class=" mx-24 py-6 sm:px-8 flex border-t">

    <div class="min-w-[75%]">
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-4">
                <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class="mb-2 text-4xl tracking-tight font-bold text-gray-800 dark:text-white">Bem-vindo, {{user.username}}</h2>
                    <p class="mb-6">Aqui poderá encontrar um resumo dos dados estatísticos e atalhos rápidos para as suas tarefas mais comuns.</p>
                    <div class="flex space-x-10">

                    <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-32 w-80">
                        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
                          <i class="fas fa-file "></i>
                        </div>
                        <div >
                          <span class="block text-xl font-bold">{{numberOfUseCases}}</span>
                          <span class="block text-gray-500 text-sm ">Use Cases Registados</span>
                        
                        </div>
                      </div>

                     <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-32 w-80">
                        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
                          <i class="fas fa-list-ul "></i>
                        </div>
                        <div>
                          <span class="block text-xl font-bold">{{numberOfRuleModels}}</span>
                          <span class="block text-gray-500 text-sm">Modelos de Regra Disponíveis</span>
                        
                        </div>
                      </div>

                       <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-32 w-80">
                        <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
                          <i class="fas fa-handshake "></i>
                        </div>
                        <div>
                          <span class="block text-xl font-bold">{{numberOfRules}}</span>
                          <span class="block text-gray-500 text-sm">Regras Atribuídas</span>
                        
                        </div>
                      </div>
                    </div>
                      
                </div>
            </div>

            
          </section>                  
    </div>

    <div class="min-w-[20%] ml-10">
        <div class="bg-white shadow-xl hover:drop-shadow-xl transition duration-300 rounded-2xl py-3">
            <div class="photo-wrapper p-2">
                <img class="w-32 h-32 rounded-full mx-auto" src="./assets/usericon.png" alt="User Icon">
            </div>
            <div class="p-2">
                <h3 class="text-center text-xl text-gray-900 font-medium leading-8">{{user.username}}</h3>
                <div class="text-center text-gray-400 text-xs font-semibold">
                    <p>{{user.companies.length === 0 ? 'Administrador' : 'Operador'}}</p>
                </div>
                <table class="text-xs my-3">
                    <tbody><tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold  text-sm">Email</td>
                        <td class="px-2 py-2 text-sm">{{user.email}}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold text-sm">Registo</td>
                        <td class="px-2 py-2 text-sm">{{user.date_joined | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold text-sm">Clientes</td>
                        <td class="px-2 py-2 text-sm">
                            <ul>
                                <li *ngFor="let company of user.companies">{{ company }}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody></table>
    
    
            </div>
        </div>
    </div>

    <div>

        
    </div>

</div>
    
<section class="bg-gray-100 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-800 dark:text-white">Atalhos Rápidos</h2>
            <p class="text-gray-500 text-md dark:text-gray-400">Navegue agora, para aquelas que são as funcionalidades mais comuns de utilização no RedUCM.</p>
        </div>
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>


                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md hover:drop-shadow-xl transition duration-300 dark:bg-gray-800 dark:border-gray-700">
                    <a href="/manage-use-cases">
                        <img class="rounded-t-lg" src="./assets/show1.png" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="/manage-use-cases">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Gerir Use Cases</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Aqui poderá efetuar a gestão relativa aos Use Cases disponibilizados na plataforma, adicionar novos Use Cases e consultar os mesmos.</p>
                        <a href="/manage-use-cases" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-redshift-red rounded-lg hover:bg-redshift-hover focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Aceder
                             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
                            </div>
                            <div>


                                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md hover:drop-shadow-xl transition duration-300 dark:bg-gray-800 dark:border-gray-700">
                                    <a href="/manage-rule-models">
                                        <img class="rounded-t-lg" src="./assets/show2.png" alt="" />
                                    </a>
                                    <div class="p-5">
                                        <a href="/manage-rule-models">
                                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Gerir Modelos de Regra</h5>
                                        </a>
                                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nesta secção poderá efetuar a gestão relativa aos modelos de regra da plataforma, adicionar novos modelos e consultar e atribuir os existentes.</p>
                                        <a href="/manage-rule-models" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-redshift-red rounded-lg hover:bg-redshift-hover focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                            Aceder
                                             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                            </div>


                                            <div>


                                                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md hover:drop-shadow-xl transition duration-300 dark:bg-gray-800 dark:border-gray-700">
                                                    <a href="/manage-rules">
                                                        <img class="rounded-t-lg" src="./assets/show3.png" alt="" />
                                                    </a>
                                                    <div class="p-5">
                                                        <a href="/manage-rules">
                                                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Consultar Instâncias de Regra</h5>
                                                        </a>
                                                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Através deste módulo, poderá consultar e gerir instâncias de regra, atribuídas a determinado cliente, bem como proceder à sua personalização.</p>
                                                        <a href="/manage-rules" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-redshift-red rounded-lg hover:bg-redshift-hover focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                            Aceder
                                                             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                                            </div>
        </div>
    </div>
</section>

    
        
        <!--
        <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">

            <div class="flex justify-between items-start w-full">
                <div class="flex-col items-center">
                  <div class="flex items-center mb-1">
                      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Regras por Sintaxe</h5>
                      <svg data-popover-target="chart-info" data-popover-placement="bottom" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
                      </svg>
                      <div data-popover id="chart-info" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                          <div class="p-3 space-y-2">
                              <h3 class="font-semibold text-gray-900 dark:text-white">Activity growth - Incremental</h3>
                              <p>Report helps navigate cumulative growth of community activities. Ideally, the chart should have a growing trend, as stagnating chart signifies a significant decrease of community activity.</p>
                              <h3 class="font-semibold text-gray-900 dark:text-white">Calculation</h3>
                              <p>For each date bucket, the all-time volume of activities is calculated. This means that activities in period n contain all activities up to period n, plus the activities generated by your community in period.</p>
                              <a href="#" class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Read more <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg></a>
                      </div>
                      <div data-popper-arrow></div>
                  </div>
                </div>
               
              </div>
              <div class="flex justify-end items-center">
                <button id="widgetDropdownButton" data-dropdown-toggle="widgetDropdown" data-dropdown-placement="bottom" type="button"  class="inline-flex items-center justify-center text-gray-500 w-8 h-8 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm"><svg class="w-3.5 h-3.5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                    <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                  </svg><span class="sr-only">Open dropdown</span>
                </button>
                <div id="widgetDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="widgetDropdownButton">
                      <li>
                        <a href="#" class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.418 17.861 1 20l2.139-6.418m4.279 4.279 10.7-10.7a3.027 3.027 0 0 0-2.14-5.165c-.802 0-1.571.319-2.139.886l-10.7 10.7m4.279 4.279-4.279-4.279m2.139 2.14 7.844-7.844m-1.426-2.853 4.279 4.279"/>
                          </svg>Edit widget
                        </a>
                      </li>
                      <li>
                        <a href="#" class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                            <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                          </svg>Download data
                        </a>
                      </li>
                      <li>
                        <a href="#" class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5.953 7.467 6.094-2.612m.096 8.114L5.857 9.676m.305-1.192a2.581 2.581 0 1 1-5.162 0 2.581 2.581 0 0 1 5.162 0ZM17 3.84a2.581 2.581 0 1 1-5.162 0 2.581 2.581 0 0 1 5.162 0Zm0 10.322a2.581 2.581 0 1 1-5.162 0 2.581 2.581 0 0 1 5.162 0Z"/>
                          </svg>Add to repository
                        </a>
                      </li>
                      <li>
                        <a href="#" class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><svg class="w-3 h-3 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                            <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                          </svg>Delete widget
                        </a>
                      </li>
                    </ul>
              </div>
            </div>
            </div>
          
       
            <div class="py-6" id="pie-chart"></div>
          
            
          </div>
          -->