<app-header></app-header>
<app-titlebanner title="Estatísticas da Plataforma" image="./assets/bannercover.jpg"> </app-titlebanner>

<div class="flex space-x-10 justify-center my-6 mx-6">
<div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-user "></i>
    </div>
    <div >
      <span class="block text-xl font-bold">123</span>
      <span class="block text-gray-500 text-sm ">Utilizadores Registados</span>
    
    </div>
  </div>

  <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-building "></i>
    </div>
    <div >
      <span class="block text-xl font-bold">123</span>
      <span class="block text-gray-500 text-sm ">Clientes Registados</span>
    
    </div>
  </div>

  <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-file "></i>
    </div>
    <div >
      <span class="block text-xl font-bold">123</span>
      <span class="block text-gray-500 text-sm ">Use Cases Registados</span>
    
    </div>
  </div>

 <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-list-ul "></i>
    </div>
    <div>
      <span class="block text-xl font-bold">123</span>
      <span class="block text-gray-500 text-sm">Modelos de Regra Disponíveis</span>
    
    </div>
  </div>

   <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-handshake "></i>
    </div>
    <div>
      <span class="block text-xl font-bold">123</span>
      <span class="block text-gray-500 text-sm">Regras Atribuídas</span>
    
    </div>
  </div>
</div>





<app-rules-per-syntax [rules]="rules"></app-rules-per-syntax>


