<app-header></app-header>
<app-titlebanner title="Estatísticas da Plataforma" image="./assets/bannercover.jpg"> </app-titlebanner>

<div class="flex space-x-10 justify-center my-6 mx-6">
<div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-user "></i>
    </div>
    <div >
      <span class="block text-xl font-bold">{{users?.length}}</span>
      <span class="block text-gray-500 text-sm ">Utilizadores Registados</span>
    
    </div>
  </div>

  <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-building "></i>
    </div>
    <div >
      <span class="block text-xl font-bold">{{clientsFromBd?.length}}</span>
      <span class="block text-gray-500 text-sm ">Clientes Registados</span>
    
    </div>
  </div>

  <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-file "></i>
    </div>
    <div >
      <span class="block text-xl font-bold">{{useCases?.length}}</span>
      <span class="block text-gray-500 text-sm ">Use Cases Registados</span>
    
    </div>
  </div>

 <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-list-ul "></i>
    </div>
    <div>
      <span class="block text-xl font-bold">{{ruleModels?.length}}</span>
      <span class="block text-gray-500 text-sm">Modelos de Regra Disponíveis</span>
    
    </div>
  </div>

   <div class="flex items-center p-8 bg-white shadow-md rounded-lg hover:shadow-2xl transition duration-300 h-28 w-80">
    <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-redshift-red bg-red-100 rounded-full mr-4">
      <i class="fas fa-handshake "></i>
    </div>
    <div>
      <span class="block text-xl font-bold">{{rules?.length}}</span>
      <span class="block text-gray-500 text-sm">Regras Atribuídas</span>
    
    </div>
  </div>
</div>



<div class="flex justify-center space-x-36 my-16"> 
<app-rules-per-syntax [rules]="rules"></app-rules-per-syntax>


<app-rules-per-logsource [rules]="rules"></app-rules-per-logsource>

<app-rules-per-type [rules]="rules"></app-rules-per-type>

</div>


<div class="flex justify-center space-x-36 my-16 max-h-80 min-h-80"> 

  <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 ">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1 ">Use Cases por Técnica</h5>
    <hr class="mb-4 mt-6">

  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <tbody>
      
      <tr *ngFor="let technique of mitreTechniques; let i = index">
        <td class="  p-2 font-bold">{{ technique }}</td>
        <td class="  p-2">{{ mitreTechniquesCount[i] }}</td>
      </tr>
    </tbody>
  </table>

</div>



<div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 ">
  <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1 ">Regras por Cliente</h5>
<hr class="mb-4 mt-6">
<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <tbody>
    
    <tr *ngFor="let client of clients; let i = index">
      <td class="  p-2 font-bold">{{ client }}</td>
      <td class="  p-2">{{ clientsCount[i] }}</td>
    </tr>
  </tbody>
</table>

</div>




  </div>

  