
<app-header></app-header>

<app-titlebanner title="RedModel{{ruleModel.id}}" image="./assets/bannercover.jpg"></app-titlebanner>


<div class="mx-16 pt-6 ">
    <h1 class="font-inter font-semibold text-2xl text-gray-700 mb-4">{{ruleModel.title}}</h1>

    <div class="flex ml-4 ">
      <div class="flex items-center">
        <img src="./assets/tag.png" class="rounded-lg size-10 hover:drop-shadow-md transition duration-300">
        <div class="ml-4">
          <h1 class="font-inter font-semibold text-xl text-gray-600">RedUC{{ruleModel.useCaseId}}</h1>
          <p class="text-gray-500">Use Case Associado</p>
        </div>
      </div>
  
      <div class="flex items-center ml-12">
        <img src="./assets/mitrelogo.png" class="rounded-lg size-10 hover:drop-shadow-md transition duration-300">
        <div class="ml-4">
          <div class="flex flex-wrap">

          <div [routerLink]="'/techniqueDetails/'+technique" *ngFor="let technique of usecase.mitreTechniques" class="bg-[#0d2f52] cursor-pointer text-white text-sm rounded-md px-1 max-w-12 mr-1 my-1 ">
            {{ technique }}

          </div>         
          </div> 
          <p class="text-gray-500">Técnicas Mitre Associadas</p>
        </div>
      </div>

      <div class="flex items-center ml-12">
        <img src="./assets/category.png" class="rounded-lg size-10 hover:drop-shadow-md transition duration-300">
        <div class="ml-4">
          <h1 class="font-inter font-semibold text-xl text-gray-600">{{ruleModel.type}}</h1>
          <p class="text-gray-500">Tipo</p>
        </div>
      </div>

      <div class="flex items-center ml-12">
        <img *ngIf="ruleModel.syntax === 'Sigma Rule'" src="./assets/sigmalogo.svg" class="rounded-lg size-10 hover:drop-shadow-md transition duration-300" alt="Sigma Logo">
        <img *ngIf="ruleModel.syntax === 'Splunk Rule'" src="./assets/splunklogo.svg" class="rounded-lg size-10 hover:drop-shadow-md transition duration-300" alt="Sigma Logo">
        <img *ngIf="ruleModel.syntax === 'QRadar Rule'" src="./assets/qradarlogo.png" class="rounded-lg size-10 hover:drop-shadow-md transition duration-300" alt="Sigma Logo">

        
        <div class="ml-4">
          <h1 class="font-inter font-semibold text-xl text-gray-600">{{ruleModel.syntax}}</h1>
          <p class="text-gray-500">Sintaxe</p>
        </div>




      </div>

      <div class="flex items-center ml-12">
        <img src="./assets/source.png" class="rounded-lg size-10 hover:drop-shadow-md transition duration-300">
        <div class="ml-4">
          <h1 class="font-inter font-semibold text-xl text-gray-600">{{ruleModel.logsources}}</h1>
          <p class="text-gray-500">LogSources</p>
        </div>




      </div>





    

   

    </div>

 <div class="flex my-12">

    <div class=" h-full border  border-gray-300  mx-auto w-[80%] mr-12">


        <ngs-code-editor class="h-[33rem]"
        [codeModel]="selectedModel"
        [theme]="theme"
        [options]="options"
        
        (valueChanged)="onCodeChanged($event)"
        (loaded)="onEditorLoaded($event)"
        (codeModelChanged)="onCodeModelChanged($event)"
        
    
        >


        </ngs-code-editor>





      </div>

      
      <div class=" md:w-[20%] h-60 bg-gray-100 p-4 rounded-xl drop-shadow-lg"  >
        <h1 class="font-inter font-semibold text-xl text-gray-600 mx-auto">Ações</h1>

        <button (click)="copyToClipboard()" type="Primary Block" class="hover:drop-shadow-md transition duration-300 flex flex-row items-center content-center justify-start gap-1 h-sm w-full py-2 my-4 px-2 border border-gray-300 drop-shadow-lg rounded-xl text-gray-700 bg-white active:text-gray-100 active:bg-redshift-hover active:ring-0 focus:ring-offset-2 focus:ring">
          <div class="fas fa-copy "></div>
          <p class="ml-2">Copiar para Clipboard</p>
      </button>

      <button data-modal-target="crud-modal" data-modal-toggle="crud-modal" type="Primary Block" class="hover:drop-shadow-md transition duration-300 flex flex-row items-center content-center justify-start gap-1 h-sm w-full py-2 my-4 px-2 border border-gray-300 drop-shadow-lg rounded-xl text-gray-700 bg-white active:text-gray-100 active:bg-redshift-hover active:ring-0 focus:ring-offset-2 focus:ring">
        <div class="fas fa-user-check "></div>
        <p class="ml-2">Atribuir a clientes</p>
    </button>

    <button *ngIf="user.companies.length===0" (click)="copyToClipboard()" type="Primary Block" class="hover:drop-shadow-md transition duration-300 flex flex-row items-center content-center justify-start gap-1 h-sm w-full py-2 my-4 px-2 border border-gray-300 drop-shadow-lg rounded-xl text-gray-700 bg-white active:text-gray-100 active:bg-redshift-hover active:ring-0 focus:ring-offset-2 focus:ring">
      <div class="fas fa-pen-nib "></div>
      <p class="ml-2">Editar modelo de Regra</p>
  </button>

 
        </div>



    
   
    
    </div>


    <h1 class="font-inter font-semibold text-2xl text-gray-700 mb-4">Regras baseadas neste Modelo</h1>

    <div class="flex flex-wrap">
      <div class="w-1/6 p-2" *ngFor="let rule of ruleInstances">
        <div class="bg-white p-4 rounded-lg shadow-md cursor-pointer hover:drop-shadow-xl transition duration-300" [routerLink]="'/ruleDetails/'+rule.id">
          <h1 class="font-inter font-semibold text-xl text-gray-600">{{rule.client.name}}</h1>
          <p class="text-gray-500 text-sm">{{rule.logsources}}</p>
        </div>
      </div>
    </div>






    <div id="crud-modal"  tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-10/12 min-w-96 max-h-full ">
          <!-- Modal content -->
          <div class="relative  bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                      Copiar regra para cliente
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <form class="p-4 md:p-5" [formGroup]="createRuleForm">
                  <div class="grid gap-4 mb-4 grid-cols-2">
                      
                    <div class="col-span-1 row-span-1">
                          <label for="Copiar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleção de cliente</label>
                         
                         
                          <select *ngIf="user.companies.length===0" id="client" name="client" formControlName="client" required  class="block w-full rounded-md border-0 px-2 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600  sm:text-sm sm:leading-6">
                            <option *ngFor="let client of clients" [ngValue]="client.pk">{{ client.name }}</option>
                        </select>

                        <select *ngIf="user.companies.length>0" id="client" name="client" formControlName="client" required  class="block w-full rounded-md border-0 px-2 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600  sm:text-sm sm:leading-6">
                          <option *ngFor="let client of user.companies" [ngValue]="client">{{ client }}</option>
                      </select>
        
                        </div>
                        

                        <div class="col-span-1 row-span-2">
                          <label for="logsources" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Logsources</label>
                          <select id="logsources" name="logsources" formControlName="logsources" required multiple  class="block w-full rounded-md border-0 px-2 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600  sm:text-sm sm:leading-6">
                            <option *ngFor="let logsource of ruleModel.logsources" [ngValue]="logsource">{{ logsource }}</option>
                        </select>


                        
                       
        
                        </div>

                        
                        <label for="Personalização" class="block mb-0 text-sm font-medium text-gray-900 dark:text-white">Personalização da Regra</label>

                        <textarea rows="20" formControlName="modalCode" class=" col-span-2 row-span-2 w-full  border border-gray-300 rounded-lg p-2 text-[14px]"  >{{ruleModel.ruleCode}}
                        </textarea>


                      
                    
                  
                  </div>
                  <button type="submit" (click)="createRule()" data-modal-toggle="crud-modal" class="text-white inline-flex items-center bg-redshift-red hover:bg-redshift-hover focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  <i class="fas fa-save mr-2"></i>
                    Guardar
                  </button>
              </form>
          </div>
      </div>

      
  </div> 
  









