<app-header></app-header>

<app-titlebanner title="Gestão de Utilizadores"  image="./assets/bannercover.jpg" > </app-titlebanner>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  
  </head>
  
  <div class="container mx-auto px-4 sm:px-8">
    <div class="py-8">
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow-md p-5 rounded-lg overflow-hidden">
  
          <!-- Add a search input for name -->
  
          <div class="mb-4 relative">
  
            <label for="nameSearch" class="sr-only">Procurar por nome</label>
            <div class="flex items-center">
              <i class="absolute inset-y-0 left-0 pl-3 flex items-center text-gray-400">
                <span class="fas fa-search"></span>
              </i>
              <input type="text" id="nameSearch" [(ngModel)]="nameSearch" placeholder="Procurar por nome" class="pl-10 px-4 py-2 border rounded w-full">
            
                <button [routerLink]="'/create-user'" class="ml-5 w-48 h-10 bg-redshift-red text-white rounded hover:bg-redshift-hover shadow-md">
                  <i class="fas fa-plus"></i>
                Adicionar Novo
                </button>
            </div>
            
          </div>
  
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th (click)="sortTable('id')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  ID
                  <span [class]="sortType === 'id' ? (sortReverse ? 'fas fa-caret-up' : 'fas fa-caret-down') : ''"></span>
                </th>
                <th (click)="sortTable('username')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  Nome
                  <span [class]="sortType === 'username' ? (sortReverse ? 'fas fa-caret-up' : 'fas fa-caret-down') : ''"></span>
                </th>
                <th (click)="sortTable('company')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  Empresa
                  <span [class]="sortType === 'company' ? (sortReverse ? 'fas fa-caret-up' : 'fas fa-caret-down') : ''"></span>
                </th>
                <th (click)="sortTable('date')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  Data de Registo
                  <span [class]="sortType === 'date' ? (sortReverse ? 'fas fa-caret-up' : 'fas fa-caret-down') : ''"></span>
                </th>
                <th (click)="sortTable('role')" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  Role
                  <span [class]="sortType === 'role' ? (sortReverse ? 'fas fa-caret-up' : 'fas fa-caret-down') : ''"></span>
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                  Ação
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of filteredUsers"
                  [class]="(filteredUsers.indexOf(u) % 2 === 0 ? 'bg-white' : 'bg-gray-100')">
                <td  class="px-5 py-5 text-left cursor-pointer">{{ u.pk }}</td>
                <td  class="px-5 py-5 text-left cursor-pointer">{{ u.username }}</td>
                <td  class="px-5 py-5 text-left cursor-pointer">{{ u.company ? u.company : 'N/A' }}</td>
                <td class="px-5 py-5 text-left cursor-pointer">{{ u.date_joined | date: 'dd/MM/yyyy' }}</td>
                <td class="px-5 py-5 text-left cursor-pointer">{{ u.company ? 'Operador' : 'Administrador' }}</td>
  
                <td class="px-5 py-5 ">
  
  
             
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>