.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-full-width {
  width: 100%;
}

.login-card {
  max-width: 400px;
}

.login-fields {
  padding: 8pt;
}
