<app-header></app-header>

<app-titlebanner title="Adicionar Use Case" image="./assets/bannercover.jpg"></app-titlebanner>




<form class="grid grid-cols-2 gap-12 px-32 pt-12"  [formGroup]="createUseCaseForm" (ngSubmit)="createUseCase()">
    <div class="space-y-4 col-span-2 md:col-span-1">

        <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Título</label>
        <input id="title"  name="title" placeholder="Título do Use Case"  type="title" autocomplete="title" formControlName="title" required class="block w-full rounded-md border-0 px-2 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

       
    </div>



    <div class="space-y-4 col-span-2 md:col-span-1">
        <label for="mitreTechniques" class="block text-sm font-medium leading-6 text-gray-900">Técnicas Mitre Associadas</label>
        <tag-input theme='minimal' [secondaryPlaceholder]="'+ Nova Técnica'" [placeholder]="''"  formControlName="mitreTechniques"     class="block w-full rounded-md border-0 px-2  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></tag-input>

      
    </div>
    <div class="space-y-4 col-span-2 md:col-span-1">
        <label for="cncsClass"  class="block text-sm font-medium leading-6 text-gray-900">Classe CNCS</label>
       <!-- <input id="cncs" name="cncs"  type="cncs" [(ngModel)]="useCase.cncs" autocomplete="cncs" formControlName="cncs" required class="block w-full rounded-md border-0 px-2 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
   -->
   <select 
  id="cncsClass"
  name="cncsClass"
  [(ngModel)]="selectedCategory"
  [ngModelOptions]="{standalone: true}"
  (ngModelChange)="updateCNCSValues()"
  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
  <option *ngFor="let option of chavesTaxonomia" [value]="option">{{ option }}</option>
</select>

       
   
        
   
    </div>

    
    
    <div class="space-y-4 col-span-2 md:col-span-1">
        <label for="cncsType" class="block text-sm font-medium leading-6 text-gray-900">Tipo CNCS</label>
        <!-- <input id="cncs" name="cncs"  type="cncs" [(ngModel)]="useCase.cncs" autocomplete="cncs" formControlName="cncs" required class="block w-full rounded-md border-0 px-2 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
    -->
    <select 
    id="cncsType"
    name="cncsType"
    [(ngModel)]="selectedSubcategory"
    [ngModelOptions]="{standalone: true}"
    class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    <option *ngFor="let subcategory of selectedCategoryValues" [value]="subcategory">{{ subcategory }}</option>
  </select>
 
    </div>

    <div class="space-y-4 col-span-2 md:col-span-1">
        <label for="mitreTechniques" class="block text-sm font-medium leading-6 text-gray-900">Vetores de Ataque</label>
        <tag-input theme='minimal' [secondaryPlaceholder]="'+ Novo Vetor'" [placeholder]="''"    formControlName="attackVectors"     class="block w-full rounded-md border-0 px-2  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></tag-input>

      
    </div>

    <div class="space-y-4 col-span-2 md:col-span-1">
        <label for="playbook" class="block text-sm font-medium leading-6 text-gray-900">Playbook</label>
        <input id="playbook"  name="playbook"   type="url" autocomplete="playbook" formControlName="playbook" placeholder="https://url/img.jpg" required class="block w-full rounded-md border-0 px-2 py-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">

      
    </div>



<div class="space-y-4 col-span-4 md:col-span-2">
    <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Descrição</label>
    <textarea id="description" placeholder="Descrição do Use Case. Neste parágrafo poderão ser descritos propósito, objetivos, entre outros." name="description" type="description"  autocomplete="description" formControlName="description" required class="block w-full rounded-md border-0 px-2 py-2 h-32 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
</div>

<div class="space-y-4 col-span-4 md:col-span-2">
    <label for="mitigation" class="block text-sm font-medium leading-6 text-gray-900">Mitigação</label>
    <textarea id="mitigation" placeholder="Neste parágrafo, poderão ser descritas as estratégias de mitigação" name="mitigation" type="mitigation"  autocomplete="mitigation" formControlName="mitigation" required class="block w-full rounded-md border-0 px-2 py-2 h-32 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
</div>

    <div class="space-y-6 col-span-2">
        <button type="submit" class="w-full md:w-[25rem] py-2.5 px-5 text-white font-semibold bg-redshift-red rounded-md hover:bg-redshift-red-dark">Registar</button>
    </div>
</form>
