<div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">

    <div class="flex justify-between items-start w-full">
        <div class="flex-col items-center">
          <div class="flex items-center mb-1">
              <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Regras Atribuídas por Tipo</h5>
        
        </div>
        
      </div>
    
    </div>
  
    <!-- Line Chart -->
    <div class="py-6" id="pie-chart3"></div>
  
    
  </div>